In [104]:
import pandas as pd

df = pd.read_csv('notas_fiscais_exemplo.csv', sep=';')
display(df)

,NumeroNF,DataEmissao,CNPJEmitente,RazaoSocialEmitente,CNPJDestinatario,RazaoSocialDestinatario,CodigoProduto,DescricaoProduto,Quantidade,UnidadeMedida,ValorUnitario,ValorTotal,CFOP,AliquotaICMS,ValorICMS,AliquotaIPI,ValorIPI
0,NF-000001,2023-01-29,24179872/0719-16,Whiskey Premium Brasil SA,70230116/0427-84,Mercado Bebidas Premium LTDA,1006,Whiskey Chivas Regal,32,UN,42.57,1362.24,5405,18.0,245.2032,10.0,136.224
1,NF-000002,2023-11-16,56836547/0183-97,Comercial de Bebidas Norte LTDA,39578299/0995-38,Empório Bebidas LTDA,1004,Cerveja Heineken,39,UN,264.38,10310.82,5405,18.0,1855.9476,10.0,1031.082
2,NF-000003,2023-05-27,49393765/0450-25,Comercial de Bebidas Norte LTDA,62431868/0801-54,Empório Bebidas LTDA,1007,Whiskey Jack Daniels,9,UN,166.43,1497.87,5405,18.0,269.6166,10.0,149.787
3,NF-000004,2023-01-26,43728997/0811-77,Exportadora de Destilados SA,92932762/0223-02,Empório Bebidas LTDA,1005,Vodka Absolut,19,UN,207.96,3951.24,5405,18.0,711.2232,10.0,395.124
4,NF-000005,2023-04-11,24179872/0719-16,Whiskey Premium Brasil SA,39578299/0995-38,Empório Bebidas LTDA,1001,Whiskey Chivas Regal,14,UN,171.24,2397.36,5405,18.0,431.5248,10.0,239.736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,NF-099996,2023-07-17,56836547/0183-97,Comercial de Bebidas Norte LTDA,70230116/0427-84,Mercado Bebidas Premium LTDA,1011,Whiskey Jack Daniels,41,UN,248.79,10200.39,5405,18.0,1836.0702,10.0,1020.039
99996,NF-099997,2023-05-19,43728997/0811-77,Exportadora de Destilados SA,39578299/0995-38,Empório Bebidas LTDA,1004,Cerveja Heineken,32,UN,264.38,8460.16,5405,18.0,1522.8288,10.0,846.016
99997,NF-099998,2023-11-16,56836547/0183-97,Comercial de Bebidas Norte LTDA,70230116/0427-84,Mercado Bebidas Premium LTDA,1007,Whiskey Jack Daniels,20,UN,166.43,3328.60,5405,18.0,599.1480,10.0,332.860
99998,NF-099999,2023-08-01,24179872/0719-16,Whiskey Premium Brasil SA,39578299/0995-38,Empório Bebidas LTDA,1000,Cerveja Heineken,2,UN,274.15,548.30,5405,18.0,98.6940,10.0,54.830
99999,NF-100000,2023-03-21,94252058/0762-74,Comercial de Bebidas Norte LTDA,39578299/0995-38,Empório Bebidas LTDA,1003,Whiskey Jameson,10,UN,177.17,1771.70,5405,18.0,318.9060,10.0,177.170

In [143]:
products_description = df['DescricaoProduto'].unique().tolist()
results = {'DescricaoProduto': [], 'Média dos Preços': []}

for product_description in products_description:
    results['DescricaoProduto'].append(product_description)    
    produto_selecionado = df[df['DescricaoProduto'] == product_description]
    produto_selecionado[['DescricaoProduto', 'ValorUnitario', 'Quantidade', 'ValorTotal']].groupby(['DescricaoProduto','ValorUnitario']).sum()
    media_preco = (produto_selecionado['ValorTotal'].sum() / produto_selecionado['Quantidade'].sum())
    results['Média dos Preços'].append(media_preco)

pd.DataFrame(results)

       DescricaoProduto  Média dos Preços
0  Whiskey Chivas Regal        106.116997
1      Cerveja Heineken        269.232115
2  Whiskey Jack Daniels        207.873404
3         Vodka Absolut        207.960000
4            Cachaça 51        263.370000
5     Espumante Chandon        186.783069
6           Rum Bacardi        287.730000
7       Licores Amarula        129.832098
8  Whiskey Ballantine's         79.580000
9       Whiskey Jameson        177.170000

In [125]:
preco_de_cada_produto = df[['DescricaoProduto', 'ValorUnitario', 'Quantidade', 'ValorTotal']].groupby(['DescricaoProduto','ValorUnitario']).sum()
display(preco_de_cada_produto)
x = preco_de_cada_produto['ValorTotal'].sum()
y = preco_de_cada_produto['Quantidade'].sum()
print(f'Média dos preços dos produtos: R$ {(x / y):.2f}')

                                    Quantidade   ValorTotal
DescricaoProduto     ValorUnitario
Cachaça 51           263.37             167971  44238522.27
Cerveja Heineken     264.38             171309  45290673.42
                     274.15             169018  46336284.70
Espumante Chandon    109.79             171890  18871803.10
                     265.58             167955  44605488.90
Licores Amarula      90.09              169333  15255209.97
                     168.94             172079  29071026.26
Rum Bacardi          287.73             177080  50951228.40
Vodka Absolut        207.96             169465  35241941.40
Whiskey Ballantine's 79.58              167861  13358378.38
Whiskey Chivas Regal 42.57              172972   7363418.04
                     171.24             168786  28902914.64
Whiskey Jack Daniels 166.43             165668  27572125.24
                     248.79             167801  41747210.79
Whiskey Jameson      177.17             169164  29970785.88

Média dos preços dos produtos: R$ 187.88